* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #155DFC;
    --heavenly: #50A2FF;
    --dark-blue: #202B4F;
    --light-blue-1: #EFF6FF;
    --light-blue-2: #E9EDF4;
    --dark-grey: #6A7282;
    --light-grey: #F9FAFB;
    --white: #FFFFFF;
    --black: #101828;
    --yellow: #FFB900;
    --blue-night: #102555;
    --dark-night: #0F172B;
    --light-black: #1B2336;
    --dusty-black: #32394A;
    --pure-black: #000000;
}

html,
body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    color: var(--dark-grey);
    background: var(--light-grey);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.24;
    color: var(--white);
    max-width: 75%;
}

h1 span {
    color: var(--heavenly);
}

h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    padding: 40px 0 16px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 0 0 40px;
}
table {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 24px 32px;
}

th {
    font-weight: 700;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.thead, .tfoot {
    color: var(--white);
    background: var(--dusty-black);
}

.odd {
    background: var(--light-blue-2);
}

.even {
    background: var(--white);
}

.tl {
    border-top-left-radius: 16px;
}

.tr {
    border-top-right-radius: 16px;
}

.bl {
    border-bottom-left-radius: 16px;
}

.br {
    border-bottom-right-radius: 16px;
}

.text-link {
    color: var(--heavenly);
}

/* Кнопки */

.btn {
    font-size: 20px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 440px;
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 auto;
}

.primary-btn {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.secondary-btn {
    color: var(--blue);
    background-color: var(--white);
    border: none;
}

.tertiary-btn {
    color: var(--white);
    background-color: rgba(97,98,98,0.2);
    border: solid 1px var(--dark-grey);
}

.quaternary-btn {
    color: var(--heavenly);
    background-color: rgba(80,162,255,0.2);
    border: solid 1px var(--heavenly);
}

/* Модальное окно */

.modal {
    min-width: 300px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-grey);
    padding: 32px;
    border-radius: 8px;
    z-index: 1001;
}

.modal p {
    font-size: 20px;
    text-align: center;
    padding: 16px 0 48px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

/* Шапка */

.header {
    padding: 16px 24px;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 16px;
}

.logo-img {
    display: block;
    width: 56px;
    height: auto;
}

.logo-text {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 24px;
}

.menu a {
    white-space: nowrap;
    color: var(--dark-grey);
}

.menu a:hover {
    color: var(--heavenly);
}

.header .btn {
    width: fit-content;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.3s;
}

/* Первый экран */

.first-screen {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
}

.first-screen .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 20px 0;
}

#call-us-mobile {
    font-size: 24px;
    display: none;
}

.first-screen .text {
    font-size: 20px;
    line-height: 1.6;
    color: var(--light-blue-2);
    max-width: 75%;
}

.first-screen .buttons {
    display: flex;
    gap: 64px;
    padding: 32px 64px 64px;
    border-bottom: solid 1px var(--dark-grey);
}

.first-screen .rates {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 48px 0;
}

.first-screen .rate {
    gap: 8px;    
    padding: 8px;
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

.first-screen .rate span {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}

/* Наши услуги */

.services {
    padding: 0 32px 64px;
    background-color: var(--light-grey);
}

.services .tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 64px;
}

.services .tile {
    padding: 24px;
    background-color: var(--white);
    border: solid 1px var(--light-blue-2);
    border-radius: 16px;
}

.services .tile img {
    width: 64px;
    height: auto;
}

.services .tile .title {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    padding: 16px 0;
}

.services .tile .description {
    font-size: 20px;
    line-height: 1.4;
}

/* Стоимость сервиса */

.price {
    padding: 0 32px 64px;
    background-color: var(--light-blue-1);
}

#table-narrow {
    display: none;
}

.price .notification {
    display: none;
    font-size: 24px;
    padding-top: 32px;
}

/* Примеры наших работ */

.portfolio {
    padding: 0 32px 64px;
    background-color: var(--white);
}

.portfolio .tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 64px;
}

.portfolio .top {
    height: 285px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    background-size: cover;
    background-position: center;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px 16px 0 0;
}

.portfolio-1 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/img/portfolio-1.jpg');
}

.portfolio-2 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/img/portfolio-2.jpg');
}

.portfolio-3 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/img/portfolio-3.jpg');
}

.portfolio .label {
    width: fit-content;
    font-size: 20px;
    color: var(--white);
    background-color: var(--blue);
    padding: 4px 8px;
    border-radius: 8px;
}

.portfolio .title {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.portfolio .bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: solid 1px var(--light-blue-2);
    border-radius: 0 0 16px 16px;
}

.portfolio .feature {
    font-size: 20px;
}

.portfolio .value {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

/* Как мы работаем */

.how-it-works {
    padding: 0 32px 64px;
    background-color: var(--blue);
}

.how-it-works h2 {
    color: var(--white);
}

.how-it-works h3 {
    color: var(--heavenly);
}

.how-it-works .steps {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 64px;
    padding-bottom: 40px;
}

.how-it-works .step {
    text-align: center;
}

.how-it-works .step img {
    width: 96px;
}

.how-it-works .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    padding: 16px 0;
}

.how-it-works .description {
    font-size: 20px;
    color: var(--white);
}

.how-it-works .btn {
    margin: 0 auto;
}

/* Отзывы клиентов */

.feedback {
    padding: 0 32px 64px;
}

.feedback .reviews {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 64px;
}

.feedback .review {
    padding: 24px;
    background-color: var(--white);
    border: solid 2px var(--light-blue-2);
    border-radius: 16px;
}

.feedback .review img {
    width: 176px;
    height:  auto;
}

.feedback .text {
    font-size: 24px;
    padding: 16px 0;
    border-bottom: solid 2px var(--light-blue-2);
}

.feedback .signature {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    padding: 8px 0;
}

.feedback .signature span {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}

/* Часто задаваемые вопросы */

.faq {
    padding: 0 32px 64px;
    background-color: var(--white);
}

.faq .accordion {
    max-width: 1200px;
    margin: 16px auto;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px;
    padding: 24px;
}

.faq .accordion img {
    width: 36px;
    height: auto;
}

.faq .question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 16px;
}

.faq .answer {
    font-size: 20px;
}

/* Контакты и форма */

.contacts {
    padding: 16px 32px 64px;
    background-color: var(--dark-night);
}

.contacts .wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.contacts h2 {
    font-size: 40px;
    color: var(--white);
    padding-top: 16px;
    white-space: nowrap;
}

.contacts h3 {
    font-size: 20px;
    text-align: left;
    color: var(--white);
    padding: 0;
}

.contacts .row {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 24px 0;
}

.contacts .row img {
    width: 64px;
    height: auto;
}

.contacts .row span {
    font-weight: 500;
    display: block;
    color: var(--white);
}

.contacts .quick-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: var(--light-black);
    border: solid 1px var(--dark-grey);
    border-radius: 16px;
    margin: 0 16px;
}

.contacts .quick-form div {
    padding: 16px 0 32px;
}

.contacts .quick-form button {
    margin: 0 auto 16px;
}

.contacts .input, .contacts .textarea {
    width: 100%;
    font-size: 24px;
    color: var(--dark-grey);
    background-color: var(--dusty-black);
    border: solid 1px var(--dark-grey);
    border-radius: 12px;
    padding: 12px;
    margin: 8px 0;
}

.contacts input::placeholder, .contacts textarea::placeholder {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 24px;
    color: var(--dark-grey);
}

.contacts .checkbox {
    
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: var(--pure-black);
}

.modal.active, .overlay.active {
    display: block;
}

/* Планшетная версия */

@media (max-width: 1080px) {

    /* Наши услуги */
    
    .services .tiles {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* Стоимость сервиса */

    #table-wide {
        display: none;
    }

    #table-narrow {
        display: table;
    }

    .price .notification {
        display: flex;
    }

    /* Примеры наших работ */

    .portfolio .tiles {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Мобильная версия */

@media (max-width: 576px) {

    h1 {
        font-size: 32px;
        max-width: 100%;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 13px;
    }
    
    table {
        font-size: 12px;
    }

    th, td {
        padding: 12px 16px;
    }

    .tl {
        border-top-left-radius: 8px;
    }

    .tr {
        border-top-right-radius: 8px;
    }

    .bl {
        border-bottom-left-radius: 8px;
    }

    .br {
        border-bottom-right-radius: 8px;
    }

    .btn {
        width: 100%;
        font-size: 18px;
    }
    
    /* Шапка */
    
    .nav {
        justify-content: space-between;
    }

    .logo {
        gap: 8px;
    }

    .logo-img {
        width: 32px;
    }

    .logo-text {
        font-size: 18px;
    }

    .menu, #call-us {
        display: none;
    }
    
    .burger, #call-us-mobile {
        display: flex;
    }

    /* Первый экран */
    
    .first-screen .container {
        padding: 16px;
        gap: 16px;
    }
    
    .first-screen .text {
        font-size: 15px;
    }

    .first-screen .buttons {
        flex-direction: column;
        gap: 16px;
        padding: 8px 0 24px;
    }

    .first-screen .rates {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
    }

    .first-screen .rate {
        gap: 8px;
        padding: 8px;
        font-size: 24px;
    }

    .first-screen .rate span {
        font-size: 12px;
    }

    /* Наши услуги */

    .services {
        padding: 0 16px 32px;
    }

    .services .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 8px;
    }

    .services .tile img {
        width: 48px;
    }

    .services .tile {
        padding: 16px;
        border-radius: 16px;
    }

    .services .tile .title {
        font-size: 18px;
        padding: 8px 0;
    }

    .services .tile .description {
        font-size: 12px;
        line-height: 1.4;
    }

    /* Стоисмость сервиса */

    .price {
        padding: 0 16px 32px;
    }

    .price .notification {
        font-size: 10px;
        padding-top: 16px;
    }

    /* Примеры наших работ */

    .portfolio {
        padding: 0 16px 32px;
    }

    .portfolio .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .portfolio .top {
        height: 180px;
        padding: 12px 16px;
        gap: 12px;
    }

    .portfolio .label {
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    .portfolio .title {
        font-size: 14px;
    }

    .portfolio .bottom {
        padding: 12px 16px;
    }

    .portfolio .feature {
        font-size: 14px;
    }

    .portfolio .value {
        font-size: 14px;
    }

    /* Как мы работаем */

    .how-it-works {
        padding: 0 16px 32px;
    }

    .how-it-works .steps {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 32px;
        padding-bottom: 32px;
    }

    .how-it-works .step {
        text-align: left;
    }

    .how-it-works .step img {
        width: 48px;
    }

    .how-it-works .title {
        font-size: 18px;
        padding: 8px 0;
    }

    .how-it-works .description {
        font-size: 13px;
    }

    /* Отзывы клиентов */

    .feedback {
        padding: 0 16px 32px;
    }

    .feedback .reviews {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .feedback .review {
        padding: 16px;
    }

    .feedback .review img {
        width: 96px;
    }

    .feedback .text {
        font-size: 13px;
        padding: 16px 0;
    }

    .feedback .signature {
        font-size: 12px;
        padding: 8px 0;
    }

    .feedback .signature span {
        font-size: 12px;
    }

    /* Часто задаваемые вопросы */

    .faq {
        padding: 0 16px 32px;
    }

    .faq .accordion {
        margin: 16px auto;
        padding: 16px;
    }

    .faq .question {
        font-size: 13px;
        margin-bottom: 16px;
    }

    .faq .answer {
        font-size: 12px;
    }

    /* Контакты и форма */

    .contacts {
        padding: 8px 16px 32px;
    }

    .contacts .wrapper {
        flex-direction: column;
    }

    .contacts h2 {
        font-size: 20px;
        padding-top: 8px;
    }

    .contacts h3 {
        font-size: 12px;
    }

    .contacts .row {
        font-size: 12px;
        gap: 16px;
        margin: 16px 0;
    }

    .contacts .row img {
        width: 48px;
    }

    .contacts .row span {
        padding-top: 8px;
    }

    .contacts .quick-form {
        margin: 0;
    }

    .contacts .input, .contacts .textarea {
        font-size: 18px;
    }

    .contacts input::placeholder, .contacts textarea::placeholder {
        font-size: 18px;
    }

    /* Footer */

    .footer {
        font-size: 12px;
        padding: 16px;
    }
}