* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #155DFC;
    --heavenly: #50A2FF;
    --dark-blue: #202B4F;
    --light-blue-1: #EFF6FF;
    --light-blue-2: #E9EDF4;
    --dark-grey: #6A7282;
    --light-grey: #F9FAFB;
    --white: #FFFFFF;
    --black: #101828;
    --yellow: #FFB900;
    --blue-night: #102555;
    --dark-night: #0F172B;
    --light-black: #1B2336;
    --dusty-black: #32394A;
    --pure-black: #000000;
}

html,
body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    color: var(--dark-grey);
    background: var(--light-grey);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

h1 span {
    color: var(--heavenly);
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

table {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 24px 32px;
}

th {
    font-weight: 700;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.thead,
.tfoot {
    color: var(--white);
    background: var(--dusty-black);
}

.odd {
    background: var(--light-blue-2);
}

.even {
    background: var(--white);
}

.tl {
    border-top-left-radius: 16px;
}

.tr {
    border-top-right-radius: 16px;
}

.bl {
    border-bottom-left-radius: 16px;
}

.br {
    border-bottom-right-radius: 16px;
}

.comment,
.subheader {
    font-size: 24px;
    line-height: 1.4;
}

.url {
    color: var(--heavenly);
}

/* Кнопки */

.btn {
    font-size: 20px;
    align-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 440px;
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 auto;
}

.primary-btn {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.secondary-btn {
    color: var(--blue);
    background-color: var(--white);
    border: none;
}

.tertiary-btn {
    color: var(--white);
    background-color: rgba(97,98,98,0.2);
    border: solid 1px var(--dark-grey);
}

.quaternary-btn {
    color: var(--heavenly);
    background-color: rgba(80,162,255,0.2);
    border: solid 1px var(--heavenly);
}

/* Модальное окно */

.modal {
    min-width: 300px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-grey);
    padding: 32px;
    border-radius: 8px;
    z-index: 1001;
}

.modal p {
    font-size: 20px;
    text-align: center;
    padding: 16px 0 48px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

/* Шапка */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 16px 24px;
    background-color: var(--white);
    border-bottom: solid 1px var(--light-blue-2);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 16px;
}

.logo-img {
    display: block;
    width: 56px;
    height: auto;
}

.logo-text {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 24px;
}

.menu.active {
    display: flex;
}

.menu a {
    white-space: nowrap;
    color: var(--dark-grey);
}

.menu a:hover {
    color: var(--heavenly);
}

.header .btn {
    width: fit-content;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.3s;
}

/* Основной контент */

.section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 32px;
    scroll-margin-top: 100px;
}

.section h2 {
    padding: 40px 0 16px;
}

.section .subheader {
    text-align: center;
    padding: 0 0 40px;
}

.hero,
.blog,
.post {
    margin: 100px 0 0;
}

/* Первый экран */

.hero {
    padding: 64px 0;
    background-image: url('/assets/img/background.webp');
    background-size: cover;
    background-position: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    max-width: 1280px;
}

#call-us-mobile {
    font-size: 24px;
    display: none;
    margin: 24px 0;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.25;
    text-align: left;
    color: var(--white);
}

.hero .subheader {
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: var(--light-blue-2);
    padding: 32px 0;
}

.hero .buttons {
    display: flex;
    gap: 64px;
    padding: 64px;
    border-bottom: solid 1px var(--dark-grey);
}

.hero .rates {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 48px 0;
}

.hero .rate {
    gap: 8px;    
    padding: 8px;
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

.hero .rate span {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}

/* Наши услуги */

.services {
    background-color: var(--light-grey);
}

.services .tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 64px;
}

.services .tile {
    padding: 24px;
    background-color: var(--white);
    border: solid 1px var(--light-blue-2);
    border-radius: 16px;
}

.services .tile img {
    width: 64px;
    height: auto;
}

.services .tile h3 {
    font-size: 40px;
    color: var(--black);
    padding: 16px 0;
}

.services .tile .comment {
    text-align: left;
}

/* Стоимость сервиса */

.price {
    background-color: var(--light-blue-1);
}

#table-narrow {
    display: none;
}

.price .notification {
    display: none;
    font-size: 24px;
    padding-top: 32px;
}

/* Примеры наших работ */

.portfolio {
    background-color: var(--white);
}

.portfolio .tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 64px;
}

.portfolio .top {
    height: 285px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    background-size: cover;
    background-position: center;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px 16px 0 0;
}

.portfolio-1 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/assets/img/portfolio-1.webp');
}

.portfolio-2 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/assets/img/portfolio-2.webp');
}

.portfolio-3 {
    background: linear-gradient(rgba(255,255,255,0), rgba(97,98,98,100)), url('/assets/img/portfolio-3.webp');
}

.portfolio .label {
    width: fit-content;
    font-size: 20px;
    color: var(--white);
    background-color: var(--blue);
    padding: 4px 8px;
    border-radius: 8px;
}

.portfolio .title {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.portfolio .bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: solid 1px var(--light-blue-2);
    border-radius: 0 0 16px 16px;
}

.portfolio .feature {
    font-size: 20px;
}

.portfolio .value {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

/* Как мы работаем */

.how-it-works {
    background-color: var(--blue);
}

.how-it-works h2 {
    color: var(--white);
}

.how-it-works .subheader {
    color: var(--heavenly);
}

.how-it-works .steps {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 64px;
    padding-bottom: 40px;
}

.how-it-works .step {
    text-align: center;
}

.how-it-works .step img {
    width: 96px;
}

.how-it-works .step h3 {
    font-weight: 700;
    text-align: center;
    color: var(--white);
    padding: 16px 0;
}

.how-it-works .step .comment {
    font-size: 20px;
    color: var(--white);
}

.how-it-works .btn {
    margin: 0 auto;
}

/* Отзывы клиентов */

.feedback .tiles {
    display: grid;
    justify-items: center;
    gap: 64px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.feedback .tile {
    padding: 24px;
    background-color: var(--white);
    border: solid 2px var(--light-blue-2);
    border-radius: 16px;
    max-width: 680px;
}

.feedback .tile img {
    width: 176px;
    height:  auto;
}

.feedback .comment {
    padding: 16px 0;
    border-bottom: solid 2px var(--light-blue-2);
}

.feedback .customer {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    padding: 8px 0;
}

.feedback .customer span {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}

/* Часто задаваемые вопросы */

.faq {
    align-items: center;
    background-color: var(--white);
}

.faq .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1000px;
}

.faq .accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px;
}

.faq .accordion img {
    width: 36px;
    height: auto;
}

.faq h3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--black);
}

/* Промокод */

.coupon {
    align-items: center;
    background-color: var(--heavenly);
}

.coupon h2 {
    color: var(--white);
}

.coupon .subheader {
    color: var(--blue);
}

.ticket {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.25;
    display: flex;
    gap: 16px;
    padding: 32px;
    color: var(--heavenly);
    background-color: var(--white);
    border: solid 1px var(--light-blue-2);
    border-radius: 32px;
}

.ticket img {
    width: 104px;
    height:  auto;
}

/* Блог, Пост */

.blog {
    background-color: var(--white);
}

.blog .tiles {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;
}

.blog .tile a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog .top {
    height: 240px;
    background-size: cover;
    background-position: center;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px 16px 0 0;
}

.post-1 {
    background: url('/public/blog/img/post-1.webp');
}

.post-2 {
    background: url('/public/blog/img/post-2.webp');
}

.post-3 {
    background: url('/public/blog/img/post-3.webp');
}

.post-4 {
    background: url('/public/blog/img/post-4.webp');
}

.blog .bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: solid 1px var(--light-blue-2);
    border-radius: 0 0 16px 16px;
}

.blog .tile h2 {
    font-size: 24px;
    text-align: left;
    padding: 0
}

.blog .post-date {
    font-size: 20px;
    color: var(--dark-grey);
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 32px 64px;
    background-color: var(--white);
    max-width: 1280px;
}

.post .post-date {
    font-size: 24px;
    padding: 32px 0 0;
    text-align: right;
    width: 100%;
}

.post h1 {
    font-size: 48px;
    text-align: left;
}

.post .post-img {
    height: 480px;
    width: 720px;
    background-size: cover;
    background-position: center;
    border: solid 1px var(--light-blue-2);
    border-radius: 16px;
}

.post .post-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.post .post-text h2 {
    font-size: 36px;
    text-align: left;
}

.post .post-text ul,
.post .post-text ol {
    padding-left: 64px;
}

.post .post-text p,
.post .post-text li {
    font-size: 24px;
    line-height: 1.5;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-night);
}

.footer .container {
    display: flex;
    margin: 0 auto;
    padding: 64px 0;
    max-width: 1280px;
}

.footer h2 {
    font-size: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts h2 {
    color: var(--dark-grey);
    white-space: nowrap;
}

.contacts .subheader {
    font-size: 20px;
    color: var(--dusty-black);
    padding: 0;
}

.contacts .row {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.contacts .row img {
    width: 64px;
    height: auto;
}

.contacts .row span {
    font-weight: 500;
    display: block;
    color: var(--white);
}

.quick-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--light-black);
    border: solid 1px var(--dark-grey);
    border-radius: 16px;
}

.quick-form h2 {
    color: var(--heavenly);
}

.quick-form div {
    padding: 16px 0 32px;
}

.quick-form button {
    margin: 0 auto 16px;
}

.quick-form .input,
.quick-form .textarea {
    width: 100%;
    font-size: 24px;
    color: var(--dark-grey);
    background-color: var(--dusty-black);
    border: solid 1px var(--dark-grey);
    border-radius: 12px;
    padding: 12px;
    margin: 8px 0;
}

.quick-form input::placeholder,
.quick-form textarea::placeholder {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 24px;
    color: var(--dark-grey);
}

.quick-form .checkbox {
    
}

.bottombar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--pure-black);
}

.modal.active, .overlay.active {
    display: block;
}

/* Планшетная версия */

@media (max-width: 1023px) {

    /* Наши услуги */
    
    .services .tiles {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* Стоимость сервиса */

    #table-wide {
        display: none;
    }

    #table-narrow {
        display: table;
    }

    .price .notification {
        display: flex;
    }

    /* Примеры наших работ, Блог */

    .portfolio .tiles,
    .blog .tiles {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
    }
}

/* Мобильная версия */

@media (max-width: 767px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }
    
    table {
        font-size: 12px;
    }

    th, td {
        padding: 12px 16px;
    }

    .tl {
        border-top-left-radius: 8px;
    }

    .tr {
        border-top-right-radius: 8px;
    }

    .bl {
        border-bottom-left-radius: 8px;
    }

    .br {
        border-bottom-right-radius: 8px;
    }

    .btn {
        width: 100%;
        font-size: 18px;
    }

    .comment,
    .subheader {
        font-size: 13px;
    }

    /* Шапка */
    
    .nav {
        justify-content: space-between;
    }

    .logo {
        gap: 8px;
    }

    .logo-img {
        width: 32px;
    }

    .logo-text {
        font-size: 18px;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        font-size: 24px;
        background: var(--white);
        border-bottom: solid 1px var(--light-blue-2);
        z-index: 1000;
    }
    
    #call-us {
        display: none;
    }
    
    .burger,
    #call-us-mobile {
        display: flex;
    }

    /* Основной контент */

    .section {
        scroll-margin-top: 64px;
        padding: 0 16px 48px;
        gap: 16px;
    }

    .hero,
    .blog,
    .post {
        margin: 64px 0 0;
    }

    /* Первый экран */
    
    .hero .container {
        gap: 0;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero .subheader {
        font-size: 15px;
        padding: 24px 0;
    }

    .hero .buttons {
        flex-direction: column;
        gap: 16px;
        padding: 0 0 64px;
    }

    .hero .rates {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
    }

    .hero .rate {
        gap: 8px;
        padding: 8px;
        font-size: 24px;
    }

    .hero .rate span {
        font-size: 12px;
    }

    /* Наши услуги */

    .services .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 8px;
    }

    .services .tile img {
        width: 48px;
    }

    .services .tile {
        padding: 16px;
        border-radius: 16px;
    }

    .services .tile h3 {
        font-size: 20px;
        padding: 8px 0;
    }

    /* Стоисмость сервиса */

    .price .notification {
        font-size: 10px;
        padding-top: 16px;
    }

    /* Примеры наших работ */

    .portfolio .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .portfolio .top {
        height: 180px;
        padding: 12px 16px;
        gap: 12px;
    }

    .portfolio .label {
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    .portfolio .title {
        font-size: 14px;
    }

    .portfolio .bottom {
        padding: 12px 16px;
    }

    .portfolio .feature {
        font-size: 14px;
    }

    .portfolio .value {
        font-size: 14px;
    }

    /* Как мы работаем */

    .how-it-works .steps {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 32px;
        padding-bottom: 32px;
    }

    .how-it-works .step {
        text-align: left;
    }

    .how-it-works .step img {
        width: 48px;
    }

    .how-it-works .step h3 {
        font-size: 18px;
        text-align: left;
        padding: 8px 0;
    }

    .how-it-works .step .comment {
        font-size: 13px;
        text-align: left;
    }

    /* Отзывы клиентов */

    .feedback .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .feedback .tile {
        padding: 16px;
    }

    .feedback .tile img {
        width: 96px;
    }

    .feedback .comment {
        padding: 16px 0;
    }

    .feedback .customer {
        font-size: 12px;
        padding: 8px 0;
    }

    .feedback .customer span {
        font-size: 12px;
    }

    /* Часто задаваемые вопросы */

    .faq .accordion {
        gap: 12px;
        padding: 16px;
    }

    /* Промокод */

    .ticket {
        font-size: 32px;
        gap: 8px;
        padding: 16px;
        border-radius: 16px;
    }

    .ticket img {
        width: 56px;
    }

    /* Блог, Пост */

    .blog .tiles {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .blog .top {
        height: 180px;
        background-size: cover;
        background-position: center;
        border: solid 1px var(--light-blue-2);
        border-radius: 16px 16px 0 0;
    }

    .blog .bottom {
        gap: 12px;
        padding: 16px;
    }

    .blog .tile h2 {
        font-size: 18px;
    }

    .blog .post-date {
        font-size: 12px;
    }

    .post .container {
        gap: 16px;
        padding: 0 16px 48px;
    }

    .post .post-date {
        font-size: 13px;
        padding: 16px 0 0;
    }

    .post h1 {
        font-size: 28px;
    }

    .post .post-img {
        height: 240px;
        width: 100%;
    }

    .post .post-text {
        gap: 16px;
    }

    .post .post-text h2 {
        font-size: 18px;
    }

    .post .post-text ul,
    .post .post-text ol {
        padding-left: 32px;
    }

    .post .post-text p,
    .post .post-text li {
        font-size: 15px;
    }

    /* Footer */

    .footer .container {
        flex-direction: column;
        gap: 16px;
        padding: 48px 16px;
    }

    .footer h2 {
        font-size: 28px;
    }

    .contacts {
        gap: 16px;
    }

    .contacts .subheader {
        font-size: 12px;
    }

    .contacts .row {
        font-size: 12px;
        gap: 12px;
    }

    .contacts .row img {
        width: 48px;
    }

    .contacts .row span {
        padding-top: 8px;
    }

    .quick-form .input,
    .quick-form .textarea {
        font-size: 18px;
    }

    .quick-form input::placeholder,
    .quick-form textarea::placeholder {
        font-size: 18px;
    }

    .bottombar {
        font-size: 12px;
        flex-direction: column;
        gap: 16px;
    }
}